{% load static %}
<div class="page-header ">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h3 class="my-0 mr-md-auto font-weight-normal">Pizza-BEST!!</h3>
        <nav class="my-2 my-md-0 mr-md-3">
            <a href="/admin/"><img class="text-hide" src="{% static 'images/cog.png'%}" alt="Admin"> </a>
            <a href="{% url 'cart'%}"><img class="text-hide" src="{% static 'images/shopping_cart.png'%}"
                                           alt="Cart"></a>
            <a>({{ order.pizzas.all|length }})</a>
        </nav>
        <a href="{% url 'home'%}"> <img class="text-hide" src="{% static 'images/home2.png'%}" alt="Home"></a>
    </div>
</div>